@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <div class="mainText">
         <h1 class="display-4 text-black">Welcome to The Phone Shop</h1>
         <h5 class="mainSubTitle">Get the latest and greatest phones, tablet and asseccories here</h5>
    </div>
   
  
    <br />
    <img class="mainImage" src="~/images/Logo1.png" width="500px" height="300px" />
    <br />
     
      <br />
   <a class="btn btn-outline-dark mt-1" asp-area="" asp-page="Phone">Shop for phones now</a>
</div>
