@page
@model PhoneShop.Pages.PhoneModel

	<div class="mainText"></div>
	<h1 class="display-4 text-capitalize text-black">Great selection of latest phones</h1>
	<p class="smallText"><i>Disclaimer: read our privacy policy before ordering</i></p>
<div class="container">
	<div class="row">
		<div class="col-12 mb-5 mt-5">
			<div class="w-100 row div100">
				<div class="col-4">
					<img src="~/images/14ProMax3.png" class="w-100" />
				</div>
				<div class="col-8 align-items-center">
					<div class="align-middle text100">
						<h3 style="text-align:left;">Buy the newest Iphone 14 Pro Max</h3>
						<p style="text-align:left;">OUT NOW</p>
						<a class="btn btn-outline-light" style="float:left;" asp-area="" asp-page="Forms/CustomPhone" >Shop here</a>

					</div>

				</div>
			</div>
		</div>
	</div>
</div>



<div class="container">
  <div class="row">
    <div class="col-sm">
      <img src="~/images/Iphone14Pro.png" class="w-100" />
	  <p style="text-align:center;">Iphone 14 Pro</p>
							<div class="text-center">
								<a class="btn btn-outline-dark" asp-area="" asp-page="Forms/CustomPhone" >Buy now</a>
							</div>
    </div>
    <div class="col-sm">
      <img src="~/images/Iphone141312.png" class="w-100" />
	   <p style="text-align:center;">Iphone 14</p>
							<div class="text-center">
								<a class="btn btn-outline-dark" asp-area="" asp-page="Forms/CustomPhone" >Buy now</a>
							</div>
    </div>
    <div class="col-sm">
      <img src="~/images/Iphone141312.png" class="w-100" />
	   <p style="text-align:center;">Iphone 13</p>
							<div class="text-center">
								<a class="btn btn-outline-dark" asp-area="" asp-page="Forms/CustomPhone" >Buy now</a>
							</div>
    </div>
	 <div class="col-sm">
      <img src="~/images/IphoneSE.png" class="w-100" />
	   <p style="text-align:center;">Iphone SE</p>
							<div class="text-center">
								<a class="btn btn-outline-dark" asp-area="" asp-page="Forms/CustomPhone" >Buy now</a>
							</div>
    </div>
	 <div class="col-sm">
      <img src="~/images/Iphone141312.png" class="w-100" />
	   <p style="text-align:center;">Iphone 12</p>
							<div class="text-center">
								<a class="btn btn-outline-dark" asp-area="" asp-page="Forms/CustomPhone" >Buy now</a>
							</div>
    </div>
	 <div class="col-sm">
      <img src="~/images/NothingPhone.png" class="w-100" />
	   <p style="text-align:center;">Nothing Phone (1)</p>
							<div class="text-center">
								<a class="btn btn-outline-dark" asp-area="" asp-page="Forms/CustomPhone" >Buy now</a>
							</div>
    </div>
	 <div class="col-sm">
      <img src="~/images/IphoneSE.png" class="w-100" />
	   <p style="text-align:center;">Iphone 8</p>
							<div class="text-center">
								<a class="btn btn-outline-dark" asp-area="" asp-page="Forms/CustomPhone" >Buy now</a>
							</div>
    </div>
  </div>
</div>